examples/example-1.json
[{"id":"7dd8150f1db5e027","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"2f02268a.221fca","type":"inject","z":"7dd8150f1db5e027","name":"1: Active","props":[{"p":"payload"},{"p":"topic","v":"111","vt":"num"},{"p":"jso","v":"{\"base\":111,\"name\":\"monkey\",\"active\":true}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":100,"y":40,"wires":[["2278c4b9.30b77c"]]},{"id":"d05d0232.0c7aa","type":"debug","z":"7dd8150f1db5e027","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":80,"wires":[]},{"id":"2278c4b9.30b77c","type":"multiSensor","z":"7dd8150f1db5e027","name":"","idType":"msg","idField":"topic","inputType":"msg","inputValue":"jso.active","activeType":"bool","activeValue":"true","inactiveType":"bool","inactiveValue":"false","activateDelay":"0","activateDelayUnit":"seconds","inactivateDelay":"0","inactivateDelayUnit":"seconds","sendOnActiveType":"pay","sendOnActive":"","sendOnInactiveType":"payl","sendOnInactive":"","sendOnTimeoutType":"str","sendOnTimeout":"Timed out","aTimeout":"0","aTimeoutUnit":"minutes","sTimeout":"0","sTimeoutUnit":"minutes","seperated":false,"useCount":false,"outputs":2,"x":290,"y":120,"wires":[["d05d0232.0c7aa"],["3c201d0d.432922"]]},{"id":"d6bd6672.756c38","type":"inject","z":"7dd8150f1db5e027","name":"1: Inactive","props":[{"p":"payload"},{"p":"topic","v":"111","vt":"num"},{"p":"jso","v":"{\"base\":111,\"name\":\"monkey\",\"active\":false}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":100,"y":80,"wires":[["2278c4b9.30b77c"]]},{"id":"368ea371.a19d0c","type":"inject","z":"7dd8150f1db5e027","name":"2: Active","props":[{"p":"payload"},{"p":"topic","v":"222","vt":"num"},{"p":"jso","v":"{\"base\":222,\"name\":\"donkey\",\"active\":true}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":100,"y":160,"wires":[["2278c4b9.30b77c"]]},{"id":"4f8b4a5e.379f14","type":"inject","z":"7dd8150f1db5e027","name":"2: Inactive","props":[{"p":"payload"},{"p":"topic","v":"222","vt":"num"},{"p":"jso","v":"{\"base\":222,\"name\":\"donkey\",\"active\":false}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":100,"y":200,"wires":[["2278c4b9.30b77c"]]},{"id":"4c653b2f.177244","type":"inject","z":"7dd8150f1db5e027","name":"Unknown","props":[{"p":"payload"},{"p":"topic","v":"333","vt":"num"},{"p":"jso","v":"{\"base\":333,\"name\":\"something\",\"active\":\"test\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"freebase","payloadType":"str","x":100,"y":280,"wires":[["2278c4b9.30b77c"]]},{"id":"3c201d0d.432922","type":"debug","z":"7dd8150f1db5e027","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":200,"wires":[]},{"id":"7c860e1d2c354845","type":"inject","z":"7dd8150f1db5e027","name":"1: Active","props":[{"p":"payload"},{"p":"topic","v":"111","vt":"num"},{"p":"jso","v":"{\"base\":111,\"name\":\"monkey\",\"active\":true}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":100,"y":340,"wires":[["6d375cf50a0b96b3"]]},{"id":"8a217beaa18155f0","type":"debug","z":"7dd8150f1db5e027","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":380,"wires":[]},{"id":"6d375cf50a0b96b3","type":"multiSensor","z":"7dd8150f1db5e027","name":"","idType":"msg","idField":"topic","inputType":"msg","inputValue":"jso.active","activeType":"bool","activeValue":"true","inactiveType":"bool","inactiveValue":"false","activateDelay":"1","activateDelayUnit":"seconds","inactivateDelay":"1","inactivateDelayUnit":"seconds","sendOnActiveType":"bool","sendOnActive":"true","sendOnInactiveType":"bool","sendOnInactive":"false","sendOnTimeoutType":"str","sendOnTimeout":"Timed out","aTimeout":"15","aTimeoutUnit":"seconds","sTimeout":"5","sTimeoutUnit":"seconds","seperated":false,"useCount":false,"outputs":2,"x":290,"y":420,"wires":[["8a217beaa18155f0"],["ed8c0a1bb32b9e2c"]]},{"id":"1a3af4e3be7fb439","type":"inject","z":"7dd8150f1db5e027","name":"1: Inactive","props":[{"p":"payload"},{"p":"topic","v":"111","vt":"num"},{"p":"jso","v":"{\"base\":111,\"name\":\"monkey\",\"active\":false}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":100,"y":380,"wires":[["6d375cf50a0b96b3"]]},{"id":"4a208a2d10309710","type":"inject","z":"7dd8150f1db5e027","name":"2: Active","props":[{"p":"payload"},{"p":"topic","v":"222","vt":"num"},{"p":"jso","v":"{\"base\":222,\"name\":\"donkey\",\"active\":true}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":100,"y":460,"wires":[["6d375cf50a0b96b3"]]},{"id":"b80587c54a4a18ce","type":"inject","z":"7dd8150f1db5e027","name":"2: Inactive","props":[{"p":"payload"},{"p":"topic","v":"222","vt":"num"},{"p":"jso","v":"{\"base\":222,\"name\":\"donkey\",\"active\":false}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":100,"y":500,"wires":[["6d375cf50a0b96b3"]]},{"id":"fa166805cfe2e113","type":"inject","z":"7dd8150f1db5e027","name":"Unknown","props":[{"p":"payload"},{"p":"topic","v":"333","vt":"num"},{"p":"jso","v":"{\"base\":333,\"name\":\"something\",\"active\":\"test\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"freebase","payloadType":"str","x":100,"y":580,"wires":[["6d375cf50a0b96b3"]]},{"id":"ed8c0a1bb32b9e2c","type":"debug","z":"7dd8150f1db5e027","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":500,"wires":[]},{"id":"7580903291c44304","type":"comment","z":"7dd8150f1db5e027","name":"Sending native booleans on active/deactive, timeout 10s","info":"","x":400,"y":340,"wires":[]},{"id":"3523968ee20ab437","type":"comment","z":"7dd8150f1db5e027","name":"Sending \"ON\"/\"OFF\" on active/deactive, Direct","info":"","x":390,"y":40,"wires":[]}]