examples/example-1.json
[{"id":"2f02268a.221fca","type":"inject","z":"29e19041.9a083","name":"1: Active","props":[{"p":"payload"},{"p":"topic","v":"111","vt":"num"},{"p":"jso","v":"{\"base\":111,\"name\":\"monkey\",\"active\":true}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":120,"y":200,"wires":[["2278c4b9.30b77c"]]},{"id":"d05d0232.0c7aa","type":"debug","z":"29e19041.9a083","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":240,"wires":[]},{"id":"2278c4b9.30b77c","type":"multiSensor","z":"29e19041.9a083","name":"","idType":"msg","idField":"topic","inputType":"msg","inputValue":"jso.active","activeType":"bool","activeValue":"true","inactiveType":"bool","inactiveValue":"false","activateDelay":"0","activateDelayUnit":"seconds","inactivateDelay":"0","inactivateDelayUnit":"seconds","sendOnActiveType":"pay","sendOnActive":"","sendOnInactiveType":"payl","sendOnInactive":"","seperated":false,"outputs":2,"x":310,"y":280,"wires":[["d05d0232.0c7aa"],["3c201d0d.432922"]]},{"id":"d6bd6672.756c38","type":"inject","z":"29e19041.9a083","name":"1: Inactive","props":[{"p":"payload"},{"p":"topic","v":"111","vt":"num"},{"p":"jso","v":"{\"base\":111,\"name\":\"monkey\",\"active\":false}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":120,"y":240,"wires":[["2278c4b9.30b77c"]]},{"id":"368ea371.a19d0c","type":"inject","z":"29e19041.9a083","name":"2: Active","props":[{"p":"payload"},{"p":"topic","v":"222","vt":"num"},{"p":"jso","v":"{\"base\":222,\"name\":\"donkey\",\"active\":true}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":120,"y":320,"wires":[["2278c4b9.30b77c"]]},{"id":"4f8b4a5e.379f14","type":"inject","z":"29e19041.9a083","name":"2: Inactive","props":[{"p":"payload"},{"p":"topic","v":"222","vt":"num"},{"p":"jso","v":"{\"base\":222,\"name\":\"donkey\",\"active\":false}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":120,"y":360,"wires":[["2278c4b9.30b77c"]]},{"id":"4c653b2f.177244","type":"inject","z":"29e19041.9a083","name":"Unknown","props":[{"p":"payload"},{"p":"topic","v":"333","vt":"num"},{"p":"jso","v":"{\"base\":333,\"name\":\"something\",\"active\":\"test\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"freebase","payloadType":"str","x":120,"y":440,"wires":[["2278c4b9.30b77c"]]},{"id":"3c201d0d.432922","type":"debug","z":"29e19041.9a083","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":360,"wires":[]}]